@use"./variables" as *;

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
ul, li{
list-style-type: none;  
  text-transform: capitalize;
     
}
a{
    text-decoration: none;
    color:$black;
    // padding: 7px;
}
.container{
    margin: 0 auto;
    width: 80%;
}
